/* I think there is a double margin bug in ie7 */

#sidebar ul#list-templates {margin-top:-10px;}
#sidebar ul#list-templates li { padding:0; margin-top:-4px;}   
#sidebar a.new-template {background: url('../images/button-new-template.png') no-repeat; margin:-10px 0 0  -25px;}     

#print_template_name {vertical-align:middle;} 

.buttons input {vertical-align:middle;}   

#sidebar ul#list-templates {position:static; }    