body {font-family: helvetica, arial, serif;}
/* HIDE ELEMENTS */
#sidebar, .preview-top, #notice-item-wrapper {
	display: none;
}

form {
	display: none;
}


#cc-logo {
  margin-bottom: 0.5em;
}


/* Always print each template on a new page */  
.preview-content {
	page-break-after: always;
}