/* css was done by mark and dennis */
/* ============ */
/* = Swatches = */
/* ============ */
/*
text #4d441c (brown)
text #87772c (light brown)
text #da6391 (pink)
href #265d8b (blue)
*/
img {border:0;}

body{background:url('../images/body-bg-wood.jpg');font-family:'Trebuchet MS','Arial',sans-serif;}

.clearfix:after {
	content: "."; display:block; height:0; clear:both; visibility:hidden; 
}                                                

.left {float:left;}
.right {float:right;}
/* ============= */
/* = Structure = */
/* ============= */
#wrapper{width:940px;margin:auto;}
#sidebar{width:220px;position:fixed; background: url('../images/sidebar-top-ribbon.png') repeat-x ; margin-top:30px; padding:7px 0 0 0; }
.sidebar-block { padding:8px 20px 10px 20px; background:#fff9d3  url('../images/sidebar-block-repeat.png') 0 0px repeat-x}  
#sidebar #print-button {padding-top:20px;}
#sidebar #print-button a, #sidebar #print-button p {position:relative; z-index:5;}

.sidebar-block:first-child {background-position: 0 -17px;}
#wrapper #sidebar .logo  {margin:-20px 0 0px -4px; }

#preview {padding-bottom:70px; clear:both;zoom:1;}
#preview .preview-top{background:url('../images/paper-top.png')  no-repeat  ; float:right; height:70px;width:712px; margin:45px 0 0 0;}
#preview .preview-wrapper {background:url('../images/paper-middle.png') ;width:711px; float:right;}
#preview .preview-content { margin:-40px 0 0 0; padding:40px 40px 0 40px; clear:both;}
#preview  .preview-bottom {background:url('../images/paper-bottom.png') no-repeat; width:712px; height:70px; margin-bottom:0px; float:right;} 

/* ============== */
/* = Typography = */
/* ============== */
#sidebar h1 {color:#4d441c; font-size:20px; text-transform:uppercase; margin:10px 0 0px 0;}
#sidebar h2 {color:#cd317a; font-size:18px; margin:0px; float:left;}
#sidebar p,#sidebar li {color:#4d441c; font-size:14px;}
#sidebar p {margin-top:3px;;}
#sidebar .order-price {font-weight:bold; letter-spacing:-1px; font-size:15px; margin:0 0 8px 0; }
#sidebar .order-price .paid {color:#15ae17; font-weight:bold;}
#sidebar .order-price .unpaid  {color:#d90e0e; font-weight:bold;}
#sidebar .customer-name {color:#87772c;font-size:12px; margin:0px 0 2px 0;}       
#sidebar p.action  { margin:-2px 0 3px 0;}


#preview .template-actions {float:right; position:relative; margin:12px 77px 0 0; height:50px; }
#preview .template-actions img.aesthetic-clip { position:absolute;  right:40px; top:-24px;}

#preview .template-actions p.template-name {color:#cd317a; float:left;   /*padding: 17px 0 11px 20px;*/ line-height:47px; margin:2px 0 0 -4px; min-width:150px; background:transparent url('../images/sticky-template-bg.png') repeat-x; padding-bottom:10px; font-size:13.5px; text-align:center; }   

/* adds the right and left shadows to the note */
#preview .template-actions .template-name em {background:url('../images/sticky-template-left.png') no-repeat left; display:block; padding-left:20px; font-style:normal;}                 
#preview .template-actions .template-name strong {background:url('../images/sticky-template-right.png') no-repeat right; display:block; padding-right:10px; font-weight:normal;}


/* ========= */
/* = Lists = */
/* ========= */
.preview-top ul {float:right; margin:0px 60px 0 0; padding:0;}
.preview-top ul li {float:left; list-style-type:none;}

#sidebar ul#list-templates {padding:3px 0 0 0; margin:0 0 0px 0 ; position:relative; z-index:14;}
#sidebar ul#list-templates li {color:#da6391; list-style-type:none;font-size:13px; margin:0 0 3px 0; }
#sidebar ul#list-templates li input {margin:0px 0px 0 0; vertical-align:middle; padding:0;}  

#sidebar ul#list-templates  .template-options  {background: url('../images/button-edit-bg.png') no-repeat left; padding:1px 0 4px 10px; margin:0px 0 0px -55px; float:left;  }    
#sidebar ul#list-templates  .template-options a img { margin:4px 5px 0 0; display:block; float:left;}    
#sidebar ul#list-templates  .template-options a {font-size:12px;display:block;float:left;}   
#sidebar  p.template-editmode { text-align:right; margin:0 0 5px 0; }
                                                                                    
/* ========= */
/* = Links = */
/* ========= */
a, a:link,  a:visited {color:#265d8b;text-decoration:underline; font-size:13px;}
a:hover, a:focus, a:active {color:#265d8b;}

#sidebar a.new-template {background: url('../images/button-new-template.png') no-repeat; margin:10px 0 0  -25px;position:relative; z-index:5; height:25px; width:142px; display:block; }  
#sidebar a.new-template:hover {background: url('../images/button-new-template.png') no-repeat 0 -25px;}



#sidebar a {margin:0; padding:0;}

/* ============== */
/* = Login Page = */
/* ============== */
#login {background:  url('../images/sidebar-top-ribbon.png') repeat-x ; padding-top:7px; width:220px; margin:30px auto; text-align:center; }
#login-wrapper { background:#fff9d3; padding-top:10px;  }
#login h1 {margin:0px   0 10px 0;color:#4d441c; font-size:25px; }
#login p {margin:0 0 5px 0; font-size:15px;text-align:center; ;color:#4d441c; font-weight:lighter; padding-bottom:5px;}
#login p em {  font-style:normal; } /* instructions */
#login p strong   {font-size:12px; color:#111;} /* for the www */
#login p.textfield { margin-bottom: 4px; padding-bottom: 0px;}
#login p.description {margin-top: 0px; font-size: 11px; color:#87772c;}
#login p.description a {color:#97873c; text-decoration: none;}
#login p.description a:hover {color:#97873c; text-decoration: underline;}
#login p.description span {margin-top: 12px;}
#login p.low-em {font-size:13px; font-style:italic;color:#87772c; padding-bottom:30px;  } /* for the register note */  
#login .sidebar-block {padding:15px 12px 0 12px;}
#login .logo { position:relative;  margin-top:-27px; margin-left:-4px;   }        

/* =============== */
/* = Order index = */
/* =============== */     


/* ======== */
/*  Lightbox  */
/* ======== */
#modal-dialog {overflow:hidden;}

#print-template-form textarea {	width: 100%;}

#print-template-form .default * {
	vertical-align: top;
}


/* Flash errors and notices */

#flash-errors li {
  padding-left: 24px;
  background: url('../images/admin/icons/warning.gif') center left no-repeat;
}

#flashnotice, #flasherrors {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  background: #000;
  padding: 10px;
  font-size: 100%;
  color: #fff;
  z-index: 9999; 
}

#flashnotice {
  background: #172830 url('../images/bubbles.gif') top left no-repeat;
  border-top: 3px solid #000;
  color: #fff;
  vertical-align: center;
}

#flasherrors {
  background: #8A1111 url('../images/bubbles_error.gif') top left no-repeat;
  border-top: 3px solid #000;  
  color: #fff;
}


/* Growl-like notice in top right corner */
#notice-item-wrapper {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 250px;
	z-index: 9999;
}

* html #notice-item-wrapper {
	position: absolute;		
}
 
#notice-item {
	height: 50px;
	/*background: #333;*/
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	color: #eee;
	padding: 6px 6px 0 6px;
	font-family: lucida Grande;
	font-size: 11px;
	/*border: 2px solid #999; */
	display: block;
	position: relative;
	margin: 0 0 12px 0;
	text-align: center; 
	font-family: helvetica, arial, serif;
}

#notice-item p {
	margin: 4px;
}

#progressbar {
	height: 31px; width:31px; background:none; border:0px; margin:0; padding:0; float:right;
}

/* animated background for jquery progressbar */
.ui-progressbar-value { 
	background: url('/images/pbar-ani.gif') !important;
}
                                                                                                                                                                                                                         
/* Template editing form */
.button-panel {
	width: 100%;
	text-align: center;
}

.buttons {
	background-color: #eee;
	border: 1px solid #ccc;
	text-align: center;
	padding: 12px 16px;
	margin: 16px;
}

.buttons a {
	color: #c00 !important;
}

/* =========================== */
/* = Stuff mark edited/added for the lightbox = */
/* =========================== */
.button-panel {background:#fff9d4; border:1px solid #cdc69f; margin-top:10px;} /* for "Create" and "Cancel" */
p.buttons {background:none; border:none; margin:0;}      

.ui-widget  #template_editor {font-family: "Courier New", "Courier", "monospace"; font-size:14px; margin:auto; margin-top:6px;} /* for the template textarea */  
       
.ui-widget-content .header {margin:10px 0 10px 0;}
.ui-widget-content .header label {color:#cd317a; font-family:'Trebuchet MS'; }  /* template name */
.ui-widget-content .template-code label {color:#cd317a; font-family:'Trebuchet MS'; margin-top:11px; display:block; } /* edit template */

/* for the help menu */
.help h3 {padding:10px 0 0 0; font-size:15px; margin:0;}
.help ul {padding-top:0; margin-top:0; padding-left:20px;}
.help p {margin:2px 0 3px 0; font-size:13px;}
.help {padding-bottom:20px; padding-top:5px;}