<div id="inline-preview-<%= tmpl.id %>">
  
  <!-- new preview -->
  <div class="preview-top" >
    <div class="template-actions">
     
      <p class="template-name"><%= tmpl.name %> &nbsp;</p>
    </div>
  </div>

  <div class="preview-wrapper">
    <div class="preview-content">
      <%= rendered_template %>
    </div>
  </div> <!-- preview-wrapper -->

  <div class="preview-bottom"></div>
</div>