<li class="template-item">
  <%= check_box_tag 'print_templates[]', tmpl.id, tmpl.default, :id => "template-checkbox-#{tmpl.id}" %>
  <%= link_to tmpl.name, "#", :id => "template-edit-link-#{tmpl.id}" %>
</li>