<li class="template-item">
  <%= check_box_tag 'print', tmpl.id, tmpl.default, :id => "template-checkbox-#{tmpl.id}" %>
  <%= link_to_remote tmpl.name, :url => {:controller => 'print_templates', :action => 'show', :id => tmpl}, :method => 'get', :html => {:id => "edit-link-#{tmpl.id}"}, :loading => "Status.show('Generating preview...')", :complete => "Status.hide()" %>
</li>