<div class="help fixed">
  <%= link_to_function "Display help", "Help.toggle();" %>
  <ul id="editor-help-links" style="display: none">
    <p>Use HTML, CSS and Liquid to customize your templates.</p>
    
    <li><%= link_to "Basics of the Liquid template language", "http://wiki.shopify.com/Liquid", :class => "action", :target => "wiki" %></li>
    <li><%= link_to "Liquid variables you can use", "http://wiki.shopify.com/Order", :class => "action", :target => "wiki" %></li>
    <li><%= link_to "HTML and CSS", "http://htmldog.com", :class => "action", :target => "web" %></li>
  </ul>
</div>