<%= error_messages_for 'tmpl', :object_name => 'template' %>

<% form_for(tmpl, :method => method, :html => {:id => "print_template_form"}) do |f| %>
  <div class="header">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>
  
  <%= f.text_area :body %>
<% end %>


<% content_for :javascript do %>
  $(document).ready(function() {
    <% if method == 'post' %>
      $(":text:visible:enabled:first").focus().select();
    <% end %>
  });
<% end %>