<% title @tmpl.name %>

<% nav_link :action => 'index' %>
<% nav_link({:action => 'edit', :id => @tmpl.id}, "Edit") %>
<% nav_link({:action => 'destroy', :id => @tmpl.id}, "Delete", :method => 'delete', :confirm => "Are you sure you want to delete the template named \"#{@tmpl.name}\"?") %>

<div>
	<div id="body-show" class="box" title="Click to edit this template">
    <!-- Table Wrapper to prevent the layout from breaking due to invalid user text! -->
    <table><tr><td> <%= @tmpl.body %> </td></tr></table>
	</div>
</div>

<%# TODO: remove QTip if not used elsewhere %>
<% javascript_tag do -%>
  $(document).ready(function() {

    $("#body-show").click(function() {
      window.location = "/print_templates/<%= @tmpl.id %>/edit"
    });

  });
<% end -%>