
<div id="login">
  <div id="login-wrapper">
    <h1>Login</h1>

    <% form_tag '/login/authenticate' do %>

    <div class="sidebar-block" >   
      <p><em>Enter your shop's URL</em></p>
      <p><label for="shop"><strong>http://www. </strong></label><%= text_field_tag 'shop', nil, :size => 14 %></p>
        <p><input type="image" value="login" name="login" src="images/button-login.png"></p>  
      </div>      
      <div class="sidebar-block" 
      <p class="low-em">
        First you have to register this app with a shop to allow access to its private admin data.
      </p>
    </div>
    <% end %>
  </div>
  <img src="../images/logo.png" width="229" height="176" alt="Logo" class="logo" style="margin-top:-5px; margin-left:-4px" />
</div>     
<% content_for :javascript do %>
$(":text:visible:enabled:first").focus();
<% end %>