
<div id="login">
  <div id="login-wrapper" >
    <h1><%= APP_NAME %></h1>
    <p class="description">
      Invoices, Package Slips and other customizable templates for<br/>
      your orders in <%= link_to "Shopify", "http://www.shopify.com" %>.
    </p>
    <% form_tag '/login/authenticate' do %>
    <div class="sidebar-block" >   
      <p><em>Enter your shop's address</em></p>
      <p class="textfield"><label for="shop"><strong>http:// </strong></label><%= text_field_tag 'shop', nil, :size => 14 %></p>
      <p class="description">
        <span><em>Example:</em> teslamotors.myshopify.com
      </p>
      <p class="low-em"><input type="image" value="login" name="login" src="images/button-login.png"></p>  
    </div>      
    <% end %>
  </div>
   <div> </div>
  <img src="../images/logo.png"  alt="Logo" class="logo"   />
  
</div>     
<% content_for :javascript do %>
$(":text:visible:enabled:first").focus();
<% end %>              
